body{
    background-color: whitesmoke; 

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image{
    width: 370px;
    margin-top: 50px;
}